.title-slide{
    h1{
        font-size:200%;
    }
}

.basic-ul{
    list-style-type:disc;
    ul{
        list-style-type:circle;
        margin-left:1.5em;
    }
}

.author-info{
    padding: 0.4em;
    color: $lighter-font;
}

// Niitä tapauksia varten, joissa pitkiä sisältöjä
.fit-much{

    h2{
        font-size: 1.1em;
        margin-bottom:0.5em;
    }

    ul,p{
        font-size:0.6em;
    }

}

.indent{
    margin-left:2em;
}


.imgdiv img{
    width:100%;
}


.small-img{
    height:100%;
    max-height:200px;
    width: auto;
}

.icon-img{
    height:100%;
    max-height:80px;
    width: auto;
}

.row-container{
    display: flex;
    flex-flow:row;
    justify-content:space-around;
    width:100%;
}

.list-row-container{
    display: flex;
    flex-flow:row;
    justify-content:flex-start;
    width:100%;
    align-items:center;
    img{
        margin-right:1em;
    }
    margin-top:1em;
}

.column-container{
    display: flex;
    flex-flow:column;
    justify-content:space-around;
    align-items:center;
}
