.container{
    font-family:$roboto;
    width:90%;
    max-width:800px;
    margin:auto;
    //background:lighten(grey,45);
    @media only screen{
        border-left:10px solid grey;
    }
    min-height:100vh;
    padding:2em;
    h1,h2,h3,h4,h5{
        font-weight:bold;
    }
    h1{
        font-size:2em;
        margin-bottom:1em;
    }
    h3{
        font-size:1em;
        margin-bottom:.3em;
    }
    em{
        padding:0.1em;
        background:lighten(yellow,20);
    }

    ol{
        list-style:decimal;
        display:flex;
        flex-flow: row nowrap;
        justify-content:space-around;
        li{
            flex: 1 1 25%;
        }
        li + li{
            margin-left:2em;
        }
    }

}


header{


    background:lighten(grey,44);
    padding:2em;

    p{
        margin:2em;
        @media only screen{
            &:after{
                content:"(suurenna kuva klikkaamalla ja sulje suurennos klikkaamalla uudestaan)";
            }
        }
    }
    img{
        margin-top:1em;
    }
    img:hover{
        cursor:pointer;
    }
    margin-bottom:6em;

}


.command-list{

}

.list-token{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    margin-bottom:2em;
    div:first-of-type{
        flex:1 1 20%;
    }
    div:nth-of-type(2){
        flex:1 1 75%;
    }
}

@media only print{
    header{
        display:none;
    }
    .container{
        font-size:0.9em;
    }
}
