@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lustria|Noto+Serif");
@import url("https://fonts.googleapis.com/css?family=Lustria|Noto+Serif");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.turn90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.smaller {
  font-size: 0.4em; }

.smaller {
  font-size: 0.4em; }

/*
    Now let's style the presentation steps.
    We start with basics to make sure it displays correctly in everywhere ...
*/
.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'PT Serif', georgia, serif;
  font-size: 48px;
  line-height: 1.5; }

/*
    ... and we enhance the styles for impress.js.
    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
  margin: 0;
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.impress-enabled .step.active {
  opacity: 1; }

/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css
    ;)
    They cover everything what you see on first three steps of the demo.
*/
.slide {
  display: block;
  width: 900px;
  height: 700px;
  padding: 40px 60px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #666666;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px; }

.slide q {
  display: block;
  font-size: 50px;
  line-height: 72px;
  margin-top: 100px; }

.slide q strong {
  white-space: nowrap; }

/*
    The last step is an overview.
    There is no content in it, so we make sure it's not visible because we want
    to be able to click on other steps.
*/
#overview {
  display: none; }

/*
    We also make other steps visible and give them a pointer cursor using the
    `impress-on-` class.
*/
.impress-on-overview .step {
  opacity: 1;
  cursor: pointer; }

.title-slide h1 {
  font-size: 200%; }

.basic-ul {
  list-style-type: disc; }
  .basic-ul ul {
    list-style-type: circle;
    margin-left: 1.5em; }

.author-info {
  padding: 0.4em;
  color: #676767; }

.fit-much h2 {
  font-size: 1.1em;
  margin-bottom: 0.5em; }
.fit-much ul, .fit-much p {
  font-size: 0.6em; }

.indent {
  margin-left: 2em; }

.imgdiv img {
  width: 100%; }

.small-img {
  height: 100%;
  max-height: 200px;
  width: auto; }

.icon-img {
  height: 100%;
  max-height: 80px;
  width: auto; }

.row-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%; }

.list-row-container {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  margin-top: 1em; }
  .list-row-container img {
    margin-right: 1em; }

.column-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center; }

blockquote {
  font-size: 0.5em;
  margin-left: 2em;
  padding: 0.5em;
  border-radius: 10px;
  margin-top: 1em;
  line-height: 130%;
  color: #676767;
  text-align: justify; }
  blockquote p + p {
    margin-top: 1.5em; }

a {
  color: #8f1505; }
  a ::before {
    content: "→ "; }

.container {
  font-family: "Roboto", sans-serif;
  width: 90%;
  max-width: 800px;
  margin: auto;
  min-height: 100vh;
  padding: 2em; }
  @media only screen {
    .container {
      border-left: 10px solid grey; } }
  .container h1, .container h2, .container h3, .container h4, .container h5 {
    font-weight: bold; }
  .container h1 {
    font-size: 2em;
    margin-bottom: 1em; }
  .container h3 {
    font-size: 1em;
    margin-bottom: .3em; }
  .container em {
    padding: 0.1em;
    background: #ffff66; }
  .container ol {
    list-style: decimal;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }
    .container ol li {
      flex: 1 1 25%; }
    .container ol li + li {
      margin-left: 2em; }

header {
  background: #f0f0f0;
  padding: 2em;
  margin-bottom: 6em; }
  header p {
    margin: 2em; }
    @media only screen {
      header p:after {
        content: "(suurenna kuva klikkaamalla ja sulje suurennos klikkaamalla uudestaan)"; } }
  header img {
    margin-top: 1em; }
  header img:hover {
    cursor: pointer; }

.list-token {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em; }
  .list-token div:first-of-type {
    flex: 1 1 20%; }
  .list-token div:nth-of-type(2) {
    flex: 1 1 75%; }

@media only print {
  header {
    display: none; }

  .container {
    font-size: 0.9em; } }
/*
  Speaker notes allow you to write comments within the steps, that will not 
  be displayed as part of the presentation. However, they will be picked up
  and displayed by impressConsole.js when you press P.
*/
.notes {
  display: none; }

/* Using the substep plugin, hide bullet points at first, then show them one by one. */
#impress .step .substep {
  opacity: 0; }

#impress .step .substep.substep-visible {
  opacity: 1;
  transition: opacity 1s; }

.small {
  font-size: 0.2em; }

.greybg {
  background: lightgrey; }

.bluebg {
  background: lightblue; }

.beigebg {
  background: beige; }

.kbd {
  padding: .1em .6em;
  border: 1px solid #ccc;
  font-size: 15px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  border-radius: 3px;
  display: inline-block;
  margin: 0 .1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap; }
  @media only print {
    .kbd {
      font-size: 13px; } }
